Defaults:neutron !requiretty
neutron ALL = (root) NOPASSWD: ALL
#neutron ALL = (root) NOPASSWD: /usr/bin/neutron
#neutron ALL = (root) NOPASSWD: /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf *
#neutron ALL = (root) NOPASSWD: /usr/bin/privsep-helper
#neutron ALL = (root) NOPASSWD: /usr/sbin/bridge
#neutron ALL = (root) NOPASSWD: /usr/sbin/iptables-save
#neutron ALL = (root) NOPASSWD: /usr/sbin/sysctl -N net.bridge
#neutron ALL = (root) NOPASSWD: /usr/sbin/ebtables -t nat --concurrent -L
#neutron ALL = (root) NOPASSWD: /usr/sbin/sysctl -b net.bridge.bridge-nf-call-ip6tables
#neutron ALL = (root) NOPASSWD: /usr/sbin/ebtables -t filter --concurrent -L
#neutron ALL = (root) NOPASSWD: /usr/sbin/sysctl -b net.bridge.bridge-nf-call-arptables
#neutron ALL = (root) NOPASSWD: /usr/sbin/sysctl -b net.bridge.bridge-nf-call-iptables
#neutron ALL = (root) NOPASSWD: /usr/sbin/ip 







